
@media screen and (max-width: 1600px) {
    #search {
        width: 70%;
    }
    .header__navbar {
        display: grid;
        grid-template-columns: auto auto 20%;
        gap: 20px!important;
}
}
@media screen and (max-width: 1170px) {
    .maincategories__item p:after{
        display:none;
    }
}
@media screen and (max-width: 1060px) {

    .header__bottom-inner {
        flex-wrap: wrap;
    }

    .header__search input {
        width: 100%
    }

    .header__search {
        margin: 15px 0
    }

    .header__buttons-bottom {
        text-align: center
    }

    .brends__list__wrapper {
        overflow: auto
    }

    .brends__list {
        width: 1180px
    }

    .maincategories__inner {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center
    }

    .maincategories__item p:after {
        right: -10px
    }

    .footer__inner {
        flex-wrap: wrap;
        gap: 40px
    }

    .header__top-inner .header__navbar{
        display: none
    }
    
    .header__call{
        display: none;
    }
    .header__navbar {
        display: grid;
        gap: 0
    }

    .header__navbar li {
        padding: 15px 0
    }

    .overflow-hidden {
        overflow: hidden
    }

    .burger {
        display: block;
        order:1;
    }

    .maingroup__inner {
        flex-wrap: wrap;
        justify-content: center
    }

    .header__bottom .header__buttons-bottom {
        display: none
    }

    .header__buttons-bottom {
        margin-top: 20px
    }
    .header-phone-btn-mobile{
        display:block;
    }
}


@media (min-width: 1600px){
    .container {
        max-width: 1570px;
    }
    .header__logo img{
        width: 200px;
    }
 
    .maingroup__stocks {
        min-width: auto;
        width:100%;
    }
    /*#moneymaker2_slideshow0 img, #moneymaker2_slideshow0 .owl-wrapper-outer, #moneymaker2_slideshow0 .owl-wrapper, #moneymaker2_slideshow0 .owl-item, #moneymaker2_slideshow0 .item{*/
    /*    width:1015px!important;*/
  
    /*}*/
    .maincategories__item{
        width:370px;
    }
    .maincategories__img{
        margin-bottom:40px;
    }
    
    .maincategories__item .maincategories__img{
        height:200px;
    }
    .maincategories__item:nth-child(2) .maincategories__img img,
    .maincategories__item:nth-child(1) .maincategories__img img{
        height:100%;
    }
    .maincategories__item:nth-child(3) .maincategories__img img,
    .maincategories__item:nth-child(4) .maincategories__img img{
        height:70%;
    }
}
@media (max-width: 1600px){
    .header__logo img{
        max-width:130px;
    }
}
@media (min-width: 768px){
/*    .product__gallery{*/
/*        display: flex;*/
/*    flex-direction: row-reverse;*/
/*}*/
/*.product__gallery-bottom  .owl-item{*/
/*    width:90px!important;*/
/*}*/
/*.product__gallery-top{*/
/*        width: calc(100% - 123px);*/
/*        float: right;*/
/*}*/
/*.product__gallery-bottom{*/
/*    position:relative;*/
/*}*/
/*.product__gallery-bottom .owl-wrapper-outer{*/
/*    position:absolute;*/
/*    top:0;*/
/*    left:0;*/
/*}*/

/*.product__gallery-bottom  .owl-wrapper{*/
/*    display:flex!important;*/
/*}*/
/*.product__gallery-bottom  .owl-wrapper-outer{*/
/*     transform: rotate(-90deg);*/
/*    transform-origin: 100% 0;*/
/*}*/
/*.product__gallery-bottom  .owl-item{*/
/*    transform: rotate(90deg);*/
/*}*/
 .container {
        width:100%;
    }
.header__bottom-wrap.scrolled{
    height:91px;
    z-index:999;
}
.header__bottom-wrap.scrolled .header__bottom {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  transition: all .3s ease;
  z-index:99;
  background:#fff;
}
.header__bottom-wrap.out .header__bottom {
  transform: translateY(-100%);
}

}
@media screen and (max-width: 768px) {
	 .ral h1 {
		 font-size: 40px;
		 margin-bottom: 40px;
	}
	 .ral {
		 padding-top: 40px;
		 padding-bottom: 40px;
	}
	 .ral__text {
		 margin-bottom: 40px;
	}
	 .ral__text span {
		 font-size: 16px;
	}
	 .ral__text p {
		 font-size: 16px;
	}
	 .ral__text h3 {
		 font-size: 16px;
	}
       .delivery h1{
        font-size: 40px;
    }
    .delivery{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .delivery__text h3{
        font-size: 20px;
    }
    .delivery__text p{
        font-size: 16px;
    }
    .delivery__info-contacts{
        width: auto;
    }
    .delivery__info-item h3{
        font-size: 30px;
    }
    .delivery__info-contacts a{
        font-size: 16px;
    }
    .delivery__info{
        gap: 40px;
    }
    .delivery__info-item>a{
        font-size: 16px;
    }
    .delivery__alert{
        font-size: 16px;
    }
    	 .category-item {
		 height: auto;
		 width: 100%;
		 display: grid;
		 justify-content: center;
		 text-align: center;
		 gap: 15px;
	}
	 .category-item .category-item__img {
		 order: -1;
	}
	 .category-title {
		 margin-bottom: 40px;
		 margin-top: 40px;
	}
	 .category {
		 margin-bottom: 40px;
	}
	 .category h1 {
		 font-size: 40px;
	}
	 .category-title {
		 flex-wrap: wrap;
		 justify-content: center;
		 gap: 20px;
	}
	  .installment-advice{
        width: 100%;
    }
    .installment-title h1{
        font-size: 40px;
    }
    .installment-title h1{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .installment-alert{
        font-size: 20px;
    }
    .installment-advice{
        font-size: 16px;
    }
    .installment-advice{
        margin-bottom: 40px;
    }
    .installment__smartmap h2{
        font-size: 40px;
    }
    .installment__smartmap-items li{
        width: 100%;
        font-size: 16px;
    }
    .installment__smartmap-items{
        justify-content: center;
    }
    .installment__smartmap-items{
        margin-bottom: 40px;
    }
    .installment__how h2{
        font-size: 20px;
    }
    .installment__how-list span{
        font-size: 20px;
    }
    .installment__how-list li{
        font-size: 16px;
    }
    .installment__how-list ul{
        padding-left: 20px;
    }
    .category .content-title {
        margin: 10px 0;
    }
    .category .category_sorts {
        text-align: center;
    }
    .maincategories__item {
        width: 100%;
    }
    .header__catalog{
        position: relative;
        left: 0;
        width:100%;
        margin-bottom: 10px;
    }
    #search, .header__search{
        margin:0;       
        padding:0; 
        width: 100%;
    }
    .header__search input{
        width: 100% !important;
        height: 60px !important;
        padding:0 20px;
    }
    .header__search .input-group{
        width: 100%!important;
    }
    .header__search::after{
        top: 20px;
        right: 20px;
    }
    .product-price .price-new{
        font-size: 26px;
    }
    .product__price-group{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .tab-content h3{
        font-size: 25px;   
    }
    .tab .tablinks a{
        width: 230px;
    height: 60px;
    }
    .tab::-webkit-scrollbar {
  width: 4px;
  background-color: #f9f9fd;
}

.tab::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff652e;
}

.tab::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}
/*@media screen and (max-width: 1060px) {
    .container {
        padding: 0 10px
    }

    .header__bottom-inner {
        display: block
    }

    .header__search input {
        width: 100%
    }

    .header__search {
        margin: 15px 0
    }

    .header__catalog a {
        margin: 0 auto;
        width: 100%
    }

    .header__buttons-bottom {
        text-align: center
    }

    .brends__list__wrapper {
        overflow: auto
    }

    .brends__list {
        width: 1180px
    }

    .maincategories__inner {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center
    }

    .maincategories__item p:after {
        right: -10px
    }

    .footer__inner {
        flex-wrap: wrap;
        gap: 40px
    }

    .header__top-inner .header__navbar,
    .header__top-inner .header__contacts {
        display: none
    }

    .header__navbar {
        display: grid;
        gap: 0
    }

    .header__navbar li {
        padding: 15px 0
    }

    .header__contacts {
        margin-top: 100px
    }

    .overflow-hidden {
        overflow: hidden
    }

    .burger {
        display: block
    }

    .maingroup__inner {
        flex-wrap: wrap;
        justify-content: center
    }

    .header__bottom .header__buttons-bottom {
        display: none
    }

    .header__buttons-bottom {
        margin-top: 20px
    }
}*/

/*@media screen and (max-width: 768px) {
    .maincategories__item {
        width: 100%
    }
}*/
.header__bottom-inner {
    gap: 10px!important;
}

.header__menu-btn,
.header__menu{
    width: 100%!important;
}
/*#content.category{*/
/*    display: none!important;*/
/*}*/
.maincategories__wrap .maincategories__opened-item{
    justify-content:center;
}

.header__top-inner .header__contacts{
    display:block;
    margin:0;
}




    #scrollToTopBtn.visible {
        display: block;
        opacity: 0.8;
    }
    .header__buttons img{
        width:36px;
    }
    

    .header__catalog a {
        margin: 0 auto;
        width: 100%
    }
    .header__navbar {
        grid-template-columns: auto;
        gap: 10px;
    }
}
/* Стили для кнопки */
#scrollToTopBtn {
    display: none; /* Кнопка скрыта по умолчанию */
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}